.characters__list {
  max-width: 680px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-bottom: 30px;
  .row {
    animation: fade-in 0.5s ease-in-out forwards;
  }
  .loading__overlay {
    background-color: rgba(68, 1, 75, 0.514);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.563);
    border-radius: 5px;
    width: 700px;
    height: 1140px;
    margin-top: 20px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
