@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.char__wrap {
  animation: fadeIn 1s ease;
  justify-content: center;
  text-align: center;
  .char__page {
    margin: auto;
    width: 95%;
    max-width: 1150px;
    height: auto;
    background-color: rgba(122, 5, 69, 0.605);
    box-shadow: 0 0 10px rgb(136, 0, 255);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 60px;
    .char__page__img__wrapp {
      width: 300px;
      display: flex;
      align-items: center;
      .char__img img {
        margin: auto;
        width: 300px;
      }
    }
    .char__text {
      margin-left: 50px;
      margin-top: 4px;
      display: flex;
      flex-direction: column;
      .char__name {
        text-align: center;
        font-size: 25px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      .char__description {
        text-align: center;
        margin-top: 15px;
        font-weight: 400;
        font-size: 23px;
      }
    }
    .char__page__buttons {
      display: flex;
    }
  }
}
