@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.char__wrap {
  animation: fadeIn 1s ease;
  justify-content: center;
  text-align: center;
  .char__page {
    margin-top: 70px;
    text-align: left;
    .char__info {
      min-width: 1250px;
      min-height: 300px;
      background-color: rgba(122, 5, 69, 0.605);
      box-shadow: 0 0 20px rgb(255, 0, 153);
      border-radius: 20px;
      padding: 40px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 0px;
      max-width: 1100px;
      .char__img img {
        width: 300px;
      }
      .char__text {
        margin-left: 40px;
        margin-top: 4px;
        .char__name {
          font-size: 36px;
          line-height: 20px;
          font-weight: bold;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        .char__description {
          margin-bottom: 20px;
          margin-top: -100px;
          margin-right: 70px;
          font-weight: 400;
          font-size: 27px;
        }
      }
    }
  }
}
