.characters {
  width: 1400px;
  margin: 40px 0 0;
  display: flex;
  justify-content: space-evenly;
  &__list {
    flex: 1;
  }
  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
