@media (max-width: 1400px) {
  .app__header {
    width: 95vw;
    height: 35px;
    .app__title {
      font-size: 23px;
    }
    .app__menu {
      ul {
        font-size: 21px;
      }
    }
  }
  .main__page {
    .bg__Img {
      max-width: 250px;
    }

    .random__character__wrapper {
      width: 830px;
      height: 170px;
      margin-top: 50px;
      margin-bottom: 50px;
      .left__block {
        height: 170px;
        padding: 10px;
        .loaded {
          display: flex;
          justify-content: space-between;
          width: 60%;
          .random__character__img {
            width: 150px;
            height: 150px;
          }
          .random__character__info {
            padding-right: 10px;
            .random__character__name {
              font-size: 16px;
              line-height: 20px;
              margin-top: 0px;
            }
            .random__character__description {
              min-height: 80px;
              margin-top: 5px;
              margin-bottom: 0px;
              font-size: 13px;
            }
            .buttons {
              margin: 0 auto;
              display: flex;
              justify-content: center;
              width: 100%;
              .button {
                height: 30px;
                margin: 0 10px;
              }
            }
          }
        }
      }

      .left__block.loading {
        padding-left: 135px;
      }

      .right__block {
        height: 170px;
        padding: 10px;
        .text__block {
          .text__heading {
            margin-top: 0px;
            font-size: 20px;
          }
          .text__subheading {
            margin-top: 10px;
            font-size: 22px;
          }

          .buttons {
            margin: 14px auto;
            .button {
              height: 30px;
            }
          }
        }
        .image {
          height: 110px;
          transform: translate(-90px, 40px);
        }
      }
    }

    .characters {
      width: 900px;
      margin: 30px 0 0;
      display: flex;
      justify-content: space-around;
    }

    .characters__list {
      max-width: 390px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      margin-bottom: 20px;
      .loading__overlay {
        width: 420px;
        height: 1350px;
        margin-top: 10px;
      }
    }
    .character {
      height: 270px;
      box-shadow: 0 0 10px rgba(255, 0, 183, 0.743);

      &:hover {
        transition: 0.4s;
        box-shadow: 0 0 20px #ff00b7;
        transform: scale(1.1);
        .character__name {
          transition: 0.6s;
          background-color: #5f06a2;
        }
      }
      &:active {
        transition: 0.1s;
        box-shadow: 0 0 30px #ff0000;
      }

      .character__image {
        background-color: #2f045077;
        height: 170px;
        width: 200px;
      }
    }

    .skeleton {
      margin-top: 8px;
      max-width: 350px;
      height: 260px;
      margin-left: 40px;
      .skeleton__header {
        padding-top: 10px;
        padding-left: 15px;
        font-size: 17px;
      }
      .skeleton__skeleton {
        .skeleton__main {
          width: 350px;
          margin-top: -20px;
        }
      }
    }
    .character__info {
      margin-left: 42px;
      width: 350px;
      padding: 10px;
      .character__name {
        font-size: 20px;
      }
      .buttons {
        margin-top: 20px;
        padding: 0 10px;
        .button {
          height: 40px;
          width: 130px;
          font-size: 20px;
        }
      }
      .character__descr {
        margin-top: 20px;
        font-size: 17px;
        text-align: justify;
      }
      .character__comics {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        .comics__title {
          font-size: 22px;
        }
        .comics__list {
          .comics__item {
            font-size: 19px;
            margin: 20px 0;
            padding: 7px;
            background-color: #ff00c820;
            box-shadow: 0 0 5px rgba(239, 9, 255, 0.671);
            width: 100%;
            border-radius: 15px;
            &:hover {
              background-color: #8c00ff20;
              box-shadow: 0 0 5px rgba(81, 0, 255, 0.413);
              transform: scale(1.05);
            }
          }
        }
      }
    }

    .find__char__form {
      text-align: center;
      margin-left: 42px;
      width: 350px;
      padding: 15px;
      .find__char__input {
        margin: 20px auto;
        width: 100%;
      }
      .find__char__button {
        margin: 10px auto;
        margin-bottom: 0;
        height: 30px;
      }
    }

    .load__button {
      margin-top: 10px;
      margin-left: 0;
      font-size: 22px;
      width: 200px;
      height: 40px;
      box-shadow: 0 0 20px rgb(227, 0, 212);
    }
  }
}
@media (max-width: 992px) {
  .app__header {
    width: 95vw;
    height: 35px;
    margin: 0 auto;
    .app__title {
      font-size: 23px;
    }
    .app__menu {
      ul {
        font-size: 21px;
      }
    }
  }
  .main__page {
    width: 95vw;
    margin: 0 auto;
    .bg__Img {
      max-width: 200px;
    }
    .random__character__wrapper {
      display: table-column;
      width: 80vw;
      height: 420px;
      margin-top: 40px;
      margin-bottom: 50px;
      .left__block {
        height: 220px;
        width: 100%;
        padding: 10px;
        .loaded {
          justify-content: center;
          width: 100%;
          .random__character__img {
            width: 220px;
            height: 200px;
            margin-left: 5px;
            margin-right: 20px;
          }
          .random__character__info {
            width: 60%;
            padding-right: 10px;
            text-align: center;
            .random__character__name {
              font-size: 20px;
              line-height: 20px;
              margin-top: 0px;
            }
            .random__character__description {
              min-height: 80px;
              margin-top: 15px;
              margin-bottom: 0px;
              font-size: 18px;
              text-align: center;
            }
            .buttons {
              margin: 0 auto;
              display: flex;
              justify-content: center;
              width: 100%;
              transform: translateY(40px);
              .button {
                margin: 0 5%;
                height: 35px;
              }
            }
          }
        }
      }

      .left__block.loading {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 220px;
        display: block;
        text-align: center;
        .spinner {
          height: 90%;
          margin-top: 10px;
        }
      }

      .right__block {
        height: 200px;
        width: 100%;
        display: flex;
        margin: none;
        text-align: center;
        .text__block {
          width: 100%;
          margin: auto;
          padding-right: 70px;
          .text__heading {
            width: auto;
            text-align: center;
            font-size: 24px;
            margin-top: 0;
          }

          .text__subheading {
            font-size: 23px;
            text-align: center;
            margin-top: 30px;
          }
          .buttons {
            margin-top: 20px;
            .button {
              height: 35px;
            }
          }
        }
        .image {
          height: 150px;
          transform: translate(5px, 10px);
        }
      }
      .button:hover {
        transform: none;
        box-shadow: none;
      }
    }
    .characters {
      width: 100%;
      margin: auto;
      display: table-column;

      .characters__characters__list {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 20px;
        .characters__list {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 20px;
          margin: 0 auto;
          max-width: 100%;
        }

        .loading__overlay {
          display: none;
        }

        .character {
          height: 320px;
          width: 230px;
          box-shadow: 0 0 15px rgba(255, 0, 183, 0.743);
          outline: 2px solid #ff00cc42;

          &:hover {
            transition: none;
            box-shadow: 0 0 15px rgba(255, 0, 183, 0.743);
            transform: none;
            .character__name {
              transition: none;
              background-color: #48057c77;
            }
          }
          &:active {
            transition: 0.2s;
            box-shadow: 0 0 30px #ff0000;
          }

          .character__image {
            background-color: #2f045077;
            height: 220px;
            width: 230px;
          }
          .character__name {
            outline: none;
          }
        }
      }
      .characters__character__info {
        margin: auto;
        width: 80vw;
        .skeleton {
          max-width: 70%;
          height: 270px;
          margin: auto;
          margin-top: 20px;
          border-radius: 10px;
          .skeleton__header {
            padding-top: 20px;
            padding-left: 25px;
            font-size: 22px;
          }
          .skeleton__skeleton {
            width: 100%;
            .skeleton__main {
              width: 80%;
              height: 260px;
              margin-top: 0;
            }
          }
        }

        .character__info {
          margin: auto;
          padding: 20px;
          width: 100%;
          display: flex;
          flex-direction: column;
          .char__inf__img {
            margin: auto;
            width: 350px;
            height: 350px;
            margin-bottom: 20px;
          }
          .character__name {
            font-size: 22px;
          }
          .buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;
            padding: 0 30px;
            .button {
              height: 38px;
              width: 130px;
              font-size: 18px;
              margin: 0 20px;
            }
            .button:hover {
              transition: none;
              transform: none;
              box-shadow: none;
            }
          }

          .character__descr {
            margin-top: 30px;
            font-size: 19px;
          }

          .character__comics {
            margin-top: 0;
            .comics__title {
              font-size: 22px;
              text-align: center;
            }
            .comics__list {
              width: 100%;
              .comics__item {
                font-size: 20px;
                margin: 20px 0;
                padding: 7px;
                background-color: #ff00c820;
                box-shadow: 0 0 5px rgba(239, 9, 255, 0.671);
                width: 100%;
                border-radius: 15px;
                &:hover {
                  transform: none;
                }
              }
            }
          }
        }

        .find__char__form {
          width: 80%;
          margin: 0 auto;
          margin-top: 60px;
          margin-bottom: 70px;
          .find__char__input {
            width: 90%;
            margin-top: 10px;
            margin-bottom: 30px;
            text-align: center;
          }
          .find__char__button {
            margin: auto;
            height: 33px;
            box-shadow: none;
          }
          .find__char__button:hover {
            transform: none;
          }
        }
      }

      .load__button {
        margin-top: 10px;
        font-size: 22px;
        width: 200px;
        height: 50px;
        box-shadow: 0 0 20px rgb(227, 0, 212);
      }
      .load__button:hover {
        transform: none;
        outline: none;
        box-shadow: 0 0 20px rgb(227, 0, 212);
      }
    }
  }
}
@media (max-width: 800px) {
  .main__page {
    .random__character__wrapper {
      .left__block {
        .loaded {
          .random__character__img {
            width: 190px;
            height: 180px;
            margin-left: 0;
            margin-right: 5px;
          }
          .random__character__info {
            width: 60%;
            padding-right: 0;
            margin-left: 5px;
            text-align: center;
            .random__character__name {
              font-size: 16px;
              line-height: 20px;
              margin-top: 0px;
            }
            .random__character__description {
              min-height: 80px;
              margin-top: 5px;
              margin-bottom: 0px;
              font-size: 16px;
              text-align: center;
            }
            .buttons {
              margin: 0 auto;
              display: flex;
              justify-content: center;
              width: 100%;
              transform: translateY(40px);
              .button {
                margin: 0 5%;
                height: 35px;
              }
            }
          }
        }
      }

      .left__block.loading {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 220px;
        display: block;
        text-align: center;
        .spinner {
          height: 90%;
          margin-top: 10px;
        }
      }

      .right__block {
        height: 200px;
        width: 100%;
        display: flex;
        margin: none;
        text-align: center;
        .text__block {
          width: 100%;
          margin: auto;
          padding-right: 70px;
          .text__heading {
            width: auto;
            text-align: center;
            font-size: 24px;
            margin-top: 0;
          }

          .text__subheading {
            font-size: 23px;
            text-align: center;
            margin-top: 30px;
          }
          .buttons {
            margin-top: 20px;
            .button {
              height: 35px;
            }
          }
        }
      }
      .button:hover {
        transform: none;
        box-shadow: none;
      }
    }
    .characters {
      width: 100%;
      margin: auto;
      display: table-column;

      .characters__characters__list {
        .characters__list {
          grid-gap: 25px;
        }

        .character {
          width: 180px;
          height: 250px;
          .character__image {
            width: 180px;
            height: 170px;
          }
          .character__name {
            height: 80px;
          }
        }
      }
      .characters__character__info {
        .skeleton {
          max-width: 80%;
          height: 280px;
        }

        .character__info {
          .char__inf__img {
            width: 350px;
          }
          .character__name {
            font-size: 20px;
          }
          .buttons {
            .button {
              height: 35px;
              width: 115px;
              font-size: 17px;
            }
          }

          .character__descr {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 18px;
          }

          .character__comics {
            .comics__title {
              font-size: 20px;
            }
            .comics__list {
              width: 100%;
              .comics__item {
                font-size: 17px;
                margin: 17px 0;
                padding: 4px;
              }
            }
          }
        }
      }

      .load__button {
        margin-top: 10px;
        font-size: 20px;
        width: 180px;
        height: 40px;
        box-shadow: 0 0 10px rgb(227, 0, 212);
        &:hover {
          box-shadow: 0 0 10px rgb(227, 0, 212);
        }
      }
    }
  }
}
@media (max-width: 667px) {
  .app__header {
    margin: 0 auto;
    width: 95vw;
    height: 70px;
    display: grid;
    justify-content: center;
    background-color: #2c036285;
    .app__title {
      text-align: center;
      font-size: 20px;
      line-height: 20px;
    }
    .app__menu {
      margin-top: 8px;
      ul {
        font-size: 29px;
      }
    }
  }
  .main__page {
    .random__character__wrapper {
      height: 400px;
      width: 92%;
      .left__block {
        padding: 10px;
        height: 200px;
        .loaded {
          .random__character__img {
            width: 150px;
            height: 160px;
          }
          .random__character__info {
            .random__character__name {
              font-size: 14px;
              line-height: 15px;
              margin-top: 5px;
            }
            .random__character__description {
              font-size: 14px;
              margin-top: 10px;
            }
            .buttons {
              transform: translateY(30px);
              .button {
                font-size: 14px;
                height: 30px;
              }
            }
          }
        }
      }

      .left__block.loading {
        height: 200px;
        .spinner {
          height: 70%;
          margin-top: 34px;
        }
      }

      .right__block {
        .text__block {
          padding: 0;
          .text__heading {
            font-size: 17px;
            text-align-last: center;
            margin-right: 30px;
            margin-top: 5px;
          }

          .text__subheading {
            font-size: 15px;
            margin-top: 10px;
          }

          .buttons {
            .button {
              font-size: 14px;
              height: 30px;
            }
          }
        }
        .image {
          height: 110px;
          transform: translate(5px, 50px);
        }
      }
    }
    .characters {
      width: 100%;
      margin: auto;
      display: table-column;

      .characters__character__info {
        .skeleton {
          max-width: 80%;
          height: 220px;
          .skeleton__header {
            font-size: 18px;
          }
          .skeleton__skeleton {
            .skeleton__main {
              height: 160px;
              margin-left: 10px;
            }
          }
        }

        .character__info {
          .char__inf__img {
            width: 300px;
            height: 300px;
          }
          .character__name {
            font-size: 16px;
          }
          .buttons {
            .button {
              height: 30px;
              font-size: 14px;
            }
          }
          .character__descr {
            margin-bottom: 0;
            font-size: 17px;
          }
          .character__comics {
            .comics__title {
              font-size: 20px;
            }
          }
          .no-comics {
            font-size: 16px;
          }
        }
      }
      .characters__characters__list {
        .characters__list {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 5vw;
        }

        .character {
          width: 40vw;
          height: 60vw;
          .character__image {
            width: 40vw;
            height: 70%;
          }
          .character__name {
            height: 30%;
          }
        }
      }

      .load__button {
        font-size: 17px;
        width: 140px;
        height: 30px;
      }
    }
  }
}
@media (max-width: 425px) {
  body {
    background-image: url("../img/bg_main.jpg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    margin: 0 auto;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  .bg__Img {
    width: 40%;
  }
  header {
    width: 100vw;
    .app__header {
      margin: 0 auto;
      padding: 0;
      width: 90%;
      height: 70px;
      display: grid;
      justify-content: center;
      background-color: #2c036285;
      .app__title {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
      }
      .app__menu {
        margin-top: 8px;
        ul {
          font-size: 29px;
        }
      }
    }
  }
  .main__page {
    width: 100vw;
    margin: 0;
    padding: 0;
    .random__character__wrapper {
      height: 370px;
      width: 92%;
      .left__block {
        padding: 10px;
        height: 180px;
        .loaded {
          .random__character__img {
            width: 110px;
            height: 140px;
          }
          .random__character__info {
            .random__character__name {
              font-size: 12px;
              line-height: 12px;
            }
            .random__character__description {
              font-size: 13px;
            }
            .buttons {
              transform: translateY(20px);
              .button {
                font-size: 11px;
                height: 25px;
              }
            }
          }
        }
      }

      .left__block.loading {
        height: 180px;
        .spinner {
          height: 60%;
        }
      }

      .right__block {
        height: 190px;
        .text__block {
          .text__heading {
            font-size: 14px;
          }

          .text__subheading {
            font-size: 13px;
          }
          .buttons {
            .button {
              font-size: 14px;
              height: 25px;
              width: 70px;
            }
          }
        }
        .image {
          height: 80px;
          transform: translate(0, 70px);
        }
      }
    }
    .characters {
      width: 100%;
      margin: auto;
      display: table-column;

      .characters__character__info {
        .skeleton {
          max-width: 80%;
          height: 170px;
          .skeleton__header {
            font-size: 15px;
            padding: 10px 15px;
          }
          .skeleton__skeleton {
            .skeleton__main {
              height: 120px;
              margin-left: 10px;
            }
          }
        }

        .character__info {
          padding: 10px;
          .char__inf__img {
            width: 240px;
            height: 240px;
          }
          .character__name {
            font-size: 15px;
          }
          .buttons {
            padding: 0;
            margin-top: 20px;
            .button {
              margin: 0 5px;
              height: 25px;
              width: 80px;
              font-size: 12px;
            }
          }
          .character__descr {
            margin-bottom: 0;
            font-size: 15px;
          }
          .character__comics {
            .comics__title {
              font-size: 17px;
            }
            .comics__list {
              .comics__item {
                font-size: 13px;
                margin: 12px 0;
                padding: 4px;
              }
            }
          }
          .no-comics {
            margin: 10px 0;
            padding: 3px;
            font-size: 14px;
          }
        }
      }
      .characters__characters__list {
        margin: 0 auto;
        width: 90%;
        .characters__list {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 5vw;
        }

        .character {
          width: 40vw;
          height: 60vw;
          .character__image {
            width: 40vw;
            height: 70%;
          }
          .character__name {
            height: 30%;
            font-size: 12px;
          }
        }
      }

      .load__button {
        font-size: 14px;
        width: 100px;
        height: 25px;
      }
    }
  }
}
