@import "../../style/variables.scss";
@import "../../style/button.scss";
.random__character__wrapper {
  width: 1100px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: #72044f40;
  box-shadow: 0 0 50px rgba(136, 118, 183, 0.189);

  .left__block {
    display: flex;
    width: 50%;
    height: 250px;
    padding: 20px;
    background-color: #72044f57;

    .loaded {
      display: flex;
      justify-content: space-between;
      animation: fade-in 0.5s ease-in-out forwards;
      width: 100%;
      .random__character__img {
        margin: auto;
        width: 180px;
        height: 180px;
      }
      .random__character__info {
        width: 100%;
        margin: 0 0 0 20px;
        .random__character__name {
          color: rgb(175, 173, 173);
          text-transform: uppercase;
          font-weight: 700;
          line-height: 26px;
          margin-top: 5px;
          font-size: 24px;
        }
        .random__character__description {
          width: 100%;
          min-height: 90px;
          margin-top: 10px;
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 10px;
        }
        .buttons {
          margin: 0 auto;
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 35px;
          .button {
            margin: auto;
          }
        }
      }
    }
  }

  .left__block.loading {
    padding-left: 180px;
  }

  .right__block {
    display: flex;
    width: 50%;
    height: 250px;
    padding: 35px;
    background-color: #2d0244a1;
    .text__block {
      .text__heading {
        margin-top: 5px;
        font-weight: 700;
        font-size: 24px;
        width: 374px;
        height: 64px;
        text-align: left;
      }

      .text__subheading {
        margin-top: 20px;
        font-weight: 700;
        font-size: 24px;
        text-align: left;
      }
      .buttons {
        display: flex;
        margin-top: 35px;
        justify-content: space-around;
      }
    }
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
